body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 900px;
  display: flex;
  justify-content: center;
}

.slider {
  width: 300px;
  height: 200px;
  position: relative;
}

.slider > .image {
  height: 100%;
  width: 100%;
  transition: opacity 0.6s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.image.current {
  opacity: 1;
}

.btn {
  color: white;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  padding: 8px;
}

.buttons > .btn-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.buttons > .btn-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.image:nth-child(1) {
  background: url('https://source.unsplash.com/RyRpq9SUwAU/1600x900') no-repeat
    center top/cover;
}
.image:nth-child(2) {
  background: url('https://source.unsplash.com/BeOW_PJjA0w/1600x900') no-repeat
    center top/cover;
}
.image:nth-child(3) {
  background: url('https://source.unsplash.com/TMOeGZw9NY4/1600x900') no-repeat
    center top/cover;
}
.image:nth-child(4) {
  background: url('https://source.unsplash.com/yXpA_eCbtzI/1600x900') no-repeat
    center top/cover;
}
.image:nth-child(5) {
  background: url('https://source.unsplash.com/ULmaQh9Gvbg/1600x900') no-repeat
    center top/cover;
}
.image:nth-child(6) {
  background: url('https://source.unsplash.com/ggZuL3BTSJU/1600x900') no-repeat
    center center/cover;
}
